header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 100%;
}

#logo>img {
    height: 100%;
    object-fit: cover;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.menuItem {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    border-bottom: solid 2px #FFFFFF;
    font-weight: 600;
    text-align: center;
}

.menuItem:hover {
    color: var(--main-color);
    border-bottom: solid 2px var(--main-color);
}

.membership {
    padding: 10px 20px 10px 20px;
    border: solid 1px var(--main-color);
    border-radius: 14px;
    background-color: var(--main-color);
}

.membership a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.membership:hover {
    background-color: white;
    transform: scale(1.02);
}

.membership:hover>a {
    color: var(--main-color);
}

.userButton {
    display: block;
}

.userIcon {
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
}

.userIcon>i {
    color: white;
    font-size: 28px;
}

@media screen and (max-width: 1024px) {
    header {
        width: auto;
        height: auto;
        flex-wrap: wrap;
        align-items: center;
    }

    #logo {
        height: 100px;
        order: 1;
    }

    .menu {
        gap: unset;
        justify-content: space-evenly;
        width: 100%;
    }

    .membership {
        order: 2;
    }
}

@media screen and (max-width: 768px) {
    header {
        margin: 0 20px 0 20px;
    }

    .membership {
        padding: 0px;
    }

    .userButton {
        display: flex;
    }

    .userIcon {
        display: flex;
    }
}